<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.ApprovalMapper">
	
	<select id="selectApprovalNo" parameterType="com.goodee.yeyebooks.vo.Approval">
		SELECT generate_approval_no(
			#{docCatCd},
			replace(#{aprvYmd}, '-', '')
		) aprvNo
		FROM DUAL
	</select>
	
	<!-- 결제 문서 추가 --> 
	<insert id="insertApproval" parameterType="com.goodee.yeyebooks.vo.Approval">
	    INSERT INTO approval (
	    	aprv_no,
	    	user_id, 
	    	doc_cat_cd, 
	    	aprv_title, 
	    	aprv_contents, 
	    	aprv_ymd, 
	    	aprv_stat_cd, 
	    	reference, 
	    	c_date, u_date
	    	)
	    VALUES (
	    	#{aprvNo},
		    #{userId},
			#{docCatCd}, 
			#{aprvTitle},
			#{aprvContents},
			NOW(),
			(select code from common_code where group_code='A001' and code_nm='진행중'),
			#{reference},
		    NOW(), NOW()
		    );
	</insert>
	
	 <!-- 첨부 파일 추가 쿼리 -->
    <insert id="insertApprovalFile" parameterType="com.goodee.yeyebooks.vo.ApprovalFile">
        INSERT INTO approval_file(
				aprv_no, 
				orgin_filename,
				save_filename, 
				filetype ,
				path
			)
		VALUES(
			#{aprvNo},
			#{orginFilename},
			#{saveFilename},
			#{filetype},
			#{path}
		)

    </insert>
	
	<!-- 결재 선 추가 쿼리 -->
    <insert id="insertApprovalLine" parameterType="com.goodee.yeyebooks.vo.ApprovalLine">
        INSERT INTO approval_line (
            aprv_no, 
            user_id,
            aprv_stat_cd, 
            aprv_sequence
        )
        VALUES (
            #{aprvNo},
            #{userId},
            (select code from common_code where group_code = 'A001' and code_nm = '진행중'),
            #{aprvSequence}
        )

    </insert>
    
    <!-- 지출결의서 추가  -->
   	<insert id="insertAccount" parameterType="com.goodee.yeyebooks.vo.Account">
   		INSERT INTO account(
   			aprv_no,
   			acnt_ymd,
   			acnt_contents,
   			acnt_nm,
   			acnt_amount,
   			acnt_credit_cd
   		)
   		VALUES(
   			#{aprvNo},
   			#{acntYmd},
   			#{acntContents},
   			#{acntNm},
   			#{acntAmount},
   			#{acntCreditCd}
   		)
   	</insert>
    
    
    <select id="selectAll" resultType="java.util.Map">
			SELECT 
				code,
				code_nm codeNm
			FROM common_code 
			WHERE group_code = 'A002'
	</select>
    
	<select id="selectUserCntByDept" resultType="java.util.Map">
		SELECT c2.code deptCd, c2.code_nm deptNm, COALESCE(COUNT(u.user_id),0) cnt FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)         
		RIGHT OUTER JOIN 
		(SELECT code, code_nm
				FROM common_code 
				WHERE group_code = 'D001') c2 ON u.dept_cd = c2.code
		GROUP BY c2.code
		ORDER BY deptCd ASC
	</select>
	
	<select id="selectUserListByDept" resultType="java.util.Map">
		SELECT 
			u.user_id userId, 
			u.user_nm userNm, 
			u.rank_cd rankCd, 
			u.dept_cd deptCd, 
			c1.code_nm rankNm, 
			c2.code_nm deptNm, 
			uf.save_filename userImg 
		FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)
		LEFT OUTER JOIN user_file uf ON (u.user_id = uf.user_id AND uf.file_cat_cd = '02')
	</select>
	
	<select id="selectUserCntByDeptAndAll" resultType="java.util.Map">
		SELECT null deptCd, null deptNm, COUNT(*) cnt FROM user u      
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)
		UNION ALL
		SELECT c2.code deptCd, c2.code_nm deptNm, COALESCE(COUNT(u.user_id),0) cnt FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)         
		RIGHT OUTER JOIN 
		(SELECT code, code_nm
				FROM common_code 
				WHERE group_code = 'D001') c2 ON u.dept_cd = c2.code
		GROUP BY c2.code
		ORDER BY deptCd ASC
	</select>
	
	<!-- 내 문서함 -->
	<select id="selectMyApproval" parameterType="java.util.Map" resultType="com.goodee.yeyebooks.vo.Approval">
		SELECT 
			a.aprv_no aprvNo, a.user_id userId,
			a.doc_cat_cd docCatCd, c1.code_nm codeName, a.aprv_title aprvTitle,
			a.aprv_contents aprvContents, a.aprv_ymd aprvYmd,
			a.rjct_reason rjctReason, a.aprv_stat_cd aprvStatCd, c2.code_nm statName,
			a.reference, 
			a.c_date cDate,
			(select user_nm from user where user_id = a.user_id) userName
		FROM approval a
		JOIN user u ON a.user_id = u.user_id
		LEFT JOIN common_code c1 ON a.doc_cat_cd = c1.code AND c1.group_code = 'A002'
		LEFT JOIN common_code c2 ON a.aprv_stat_cd = c2.code AND c2.group_code = 'A001'
		WHERE ((a.user_id = #{userId})  
		OR (a.aprv_no in (select aprv_no from approval_line where user_id = #{userId}) AND a.aprv_stat_cd IN ('01', '02')) OR (a.reference LIKE concat('%', #{userId}, '%') AND a.aprv_stat_cd = '02'))
		<choose>
			<when test="status == 1"> AND c2.code =  '01' </when>
			<when test="status == 2"> and a.user_id = #{userId} AND c2.code =  '01' </when>
			<when test="status == 3"> and a.aprv_no in (select aprv_no from approval_line where user_id = #{userId} and aprv_stat_cd = '01') AND c2.code =  '01' </when>
			<when test="status == 4"> AND c2.code =  '02' </when>
			<when test="status == 5"> AND c2.code =  '03' </when>
			<when test="status == 6"> AND c2.code =  '04' </when>
		</choose>

		ORDER BY a.c_date DESC;
		
	</select>
	
	
	<!-- 게시물 개수 조회 -->
	<select id="selectApprovalCount">
		SELECT COUNT(*)
		FROM approval 
		WHER doc_cat_cd = #{docCatCd}
	</select>
	
	
	<!-- 문서 상세보기 -->
	<select id="selectApprovalOne" parameterType="String">
		SELECT
			a.aprv_no aprvNo,
			a.user_id userId,
			a.doc_cat_cd docCatCd,
			a.aprv_title aprvTitle,
			a.aprv_contents aprvContents,
			a.aprv_ymd aprvYmd,
			a.rjct_reason rjctReason,
			a.aprv_stat_cd aprvStatCd,
			a.reference,
			a.c_date cDate,
			a.u_date uDate,
			c1.code_nm codeName,
			c2.code_nm statName,
			(select user_nm from user where user_id = a.user_id) userName
		FROM approval a
		JOIN user u ON a.user_id = u.user_id
		LEFT JOIN common_code c1 ON a.doc_cat_cd = c1.code AND c1.group_code = 'A002'
		LEFT JOIN common_code c2 ON a.aprv_stat_cd = c2.code AND c2.group_code = 'A001'
		WHERE aprv_no = #{aprvNo}
	</select> 
	
	<!-- 문서 상세보기 -->
	<select id="selectApprovalFileOne" parameterType="String">
		SELECT
			aprv_file_no aprvFileNo,
			aprv_no aprvNo,
			orgin_filename orginFilename,
			save_filename saveFilename,
			filetype,
			path
		FROM approval_file
		WHERE aprv_no = #{aprvNo}
	</select> 
	
	<!-- 문서 상세보기 -->
	<select id="selectApprovalLineOne" parameterType="String">
		SELECT user_id userId,
			(SELECT code_nm
			FROM common_code
			WHERE group_code = 'A001' AND CODE = aprv_stat_cd) aprvStatCd
		FROM approval_line
		WHERE aprv_no = #{aprvNo}
	</select> 
	
	<!-- 문서 상세보기 -->
	<select id="selectAccountOne" parameterType="String">
		SELECT 
			acnt_no acntNo,
			aprv_no aprvNo,
			acnt_ymd acntYmd,
			acnt_contents acntContents,
			acnt_nm acntNm,
			acnt_amount acntAmount,
			(SELECT code_nm
			FROM common_code
			WHERE group_code = 'A003' AND CODE = acnt_credit_cd) acntCreditCd
		FROM account
		WHERE aprv_no = #{aprvNo}
	</select> 
	
	<select id="selectDayoffOne" parameterType="String">
		SELECT 
			aprv_no aprvNo,
			dayoff_ymd dayOffYmd,
			(SELECT code_nm
			FROM common_code
			WHERE group_code = 'A005' AND CODE = dayoff_type_cd) dayoffTypeCd
		FROM dayoff
		WHERE aprv_no = #{aprvNo}
	</select>
	
	<!-- 참조자 상세보기 -->
	<select id="selectRefOne" parameterType="String">
		SELECT 
			user_nm userName
		FROM user, approval 
		WHERE reference 
		LIKE CONCAT('%', user.user_id, '%') AND aprv_no = #{aprvNo}
	</select>
	
	<!-- 반려 -->
	<update id="updateRjctReason">
		UPDATE approval
		SET rjct_reason = #{rjctReason},
			aprv_stat_cd = '03'
		WHERE aprv_no = #{aprvNo};
	</update>
	
	<update id="updateAprvlineRjct">
		update approval_line
		set aprv_stat_cd = '03'
		where aprv_no = #{aprvNo}
		and user_id = #{userId}
	</update>
	
	<!-- 승인 -->
	
	<!-- 문서회수 -->
	<update id="updateAprvStatCd" parameterType="com.goodee.yeyebooks.vo.Approval">
		UPDATE approval
		SET aprv_stat_cd = '04',
			u_date = NOW()
		WHERE aprv_no = #{aprvNo};
	</update>
	
	<select id="selectApprovalWaitingCnt" resultType="int">
		SELECT COUNT(*)
		FROM approval INNER JOIN approval_line
		ON approval.aprv_no = approval_line.aprv_no
		WHERE approval_line.user_id = #{userId}
		AND approval.aprv_stat_cd = (SELECT CODE 
										FROM common_code 
										WHERE group_code = 'A001' 
										AND code_nm = '진행중')
		AND approval_line.aprv_stat_cd = (SELECT CODE 
										FROM common_code 
										WHERE group_code = 'A001' 
										AND code_nm = '진행중')
	</select>
	
	<select id="selectApproveWaitingCnt" resultType="int">
		SELECT COUNT(*)
		FROM approval
		WHERE user_id = #{userId}
		AND approval.aprv_stat_cd = (SELECT CODE 
									FROM common_code 
									WHERE group_code = 'A001' 
									AND code_nm = '진행중')
	</select>
	<select id="selectNowApproveUSer">
		SELECT user_id, aprv_sequence
		from approval_line
		WHERE aprv_no = #{aprvNo}
		AND aprv_sequence = (SELECT min(aprv_sequence) FROM approval_line where aprv_no = #{aprvNo} and aprv_stat_cd = '01')
	</select>
	
	<select id="selectLastApprovalUser">
		SELECT user_id
		FROM approval_line
		WHERE aprv_no = #{aprvNo}
		AND aprv_sequence = (select MAX(aprv_sequence) FROM approval_line WHERE aprv_no = #{aprvNo})
	</select>
	
	<update id="updateApproveApproval">
		UPDATE approval SET aprv_stat_cd = '02'
		WHERE aprv_no = #{aprvNo}
	</update>
	<update id="updateApproveApprovalLine">
		UPDATE approval_line SET aprv_stat_cd = '02'
		WHERE aprv_no = #{aprvNo} AND user_id = #{userId}
	</update>
</mapper>