<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.BoardFileMapper">

	<!-- 게시물 첨부파일 조회 -->
	<select id="selectBoardFile">
		SELECT 
			board_file_no boardFileNo,
			board_no boardNo,
			file_cat_cd fileCatCd,
			origin_filename originFilename,
			save_filename saveFilename,
			filetype,
			path
		FROM board_file
		WHERE board_no = #{boardNo}
	</select>
	
	<!-- 게시물 첨부파일 등록 -->
	<insert id="insertBoardfile">
		INSERT INTO 
			board_file (
				board_no, file_cat_cd, origin_filename, save_filename, filetype, path, c_date, u_date
		) VALUES (
			#{boardNo},#{fileCatCd},#{originFilename},#{saveFilename},#{filetype},#{path}, NOW(), NOW()
		)
	</insert>
	
	<!-- 게시물 첨부파일 삭제 -->
	<delete id="deleteBoardfile">
		DELETE FROM board_file
		WHERE
			board_no = #{boardNo}
	</delete>
</mapper>