<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.BoardMapper">
	<!-- 게시판 별 게시물 리스트 -->
	<select id="selectBoard" 
			parameterType="java.util.Map" 
			resultType="java.util.Map">
			SELECT 
				b.board_no boardNo,
				b.board_title boardTitle,
				b.board_cat_cd boardCatCd,
				b.user_id userId,
				u.user_nm userNm,
				b.c_date cDate,
				b.board_view boardView
			FROM board b 
			INNER JOIN 
				user u ON b.user_id = u.user_id
			WHERE board_cat_cd = #{boardCatCd}
			ORDER BY b.c_date DESC
			LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 게시판 별 게시물 개수 -->
	<select id="selectBoardCount" 
			parameterType="com.goodee.yeyebooks.vo.Board"
			resultType="int">
			SELECT
				COUNT(*)
			FROM board
			WHERE board_cat_cd = #{boardCatCd}
	</select>
	
	<!-- 부서 게시판 조회를 위한 사용자 부서 코드 가져오기 -->
	<select id="selectUserDept" 
			resultType="java.lang.String">
			SELECT
				dept_cd deptCd
			FROM user
			WHERE user_id = #{userId}
	</select>
	
	<!-- 모든 부서 게시판 코드 가져오기 -->
	<select id="selectAllCatCode"
			resultType="java.util.Map">
		SELECT 
			code,
			code_nm codeNm
		FROM common_code 
		WHERE group_code = 'D001'
	</select>
	
	<!-- 관리자일때 모든 부서의 게시물을 조회 -->
	<select id="selectAllCatBoard" 
			resultType="com.goodee.yeyebooks.vo.Board">
			SELECT 
				board_no boardNo,
				user_id userId,
				board_title boardTitle,
				board_view boardView,
				c_date cDate
		 	FROM board 
		 	WHERE 
		 		board_cat_cd != '00' AND board_cat_cd != '99'
	</select>
	
	<!-- 게시물상세 -->
	<select id="selectBoardOne" 
			resultType="com.goodee.yeyebooks.vo.Board">
		SELECT 
			b.board_no boardNo,
			b.board_cat_cd boardCatCd,
			b.board_title boardTitle,
			b.board_contents boardContents,
			b.user_id userId,
			b.c_date cDate,
			b.board_view boardView,
			bf.origin_filename originFilename,
			bf.path
		FROM board b left JOIN board_file bf 
		ON b.board_no = bf.board_no
		WHERE 
			b.board_no = #{boardNo}
	</select>
	<!-- 게시물 상세 조회 시 게시자 정보를 가져오기 -->
	<!-- 아이디 / 이름 / 직급 / 부서 -->
	<select id="selectUser" 
			parameterType="String" 
			resultType="java.util.Map">
		SELECT 
			u.user_id userId, 
			u.user_nm userNm, 
			c.code_nm codeNm
		FROM user u
			INNER JOIN 
				common_code c ON u.rank_cd = c.code AND c.group_code = 'R001'
		WHERE 
			u.user_id = #{userId};
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateView">
		UPDATE 
			board 
		SET 
			board_view = board_view + 1 
		WHERE 
			board_no = #{boardNo}
	</update>
	
</mapper>