<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.BoardMapper">
	<!-- 게시판 별 게시물 리스트 -->
	<select id="selectBoard" 
			parameterType="java.util.Map" 
			resultType="java.util.Map">
			SELECT 
				b.board_no boardNo,
				b.board_title boardTitle,
				b.board_cat_cd boardCatCd,
				b.user_id userId,
				u.user_nm userNm,
				b.c_date cDate,
				b.board_view boardView
			FROM board b 
			INNER JOIN 
				user u ON b.user_id = u.user_id
			WHERE board_cat_cd = #{boardCatCd}
			ORDER BY b.c_date DESC
			LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 게시판 별 게시물 개수 -->
	<select id="selectBoardCount" 
			parameterType="com.goodee.yeyebooks.vo.Board"
			resultType="int">
			SELECT
				COUNT(*)
			FROM board
			WHERE board_cat_cd = #{boardCatCd}
	</select>
	
	<!-- 로그인 유저의 부서코드와 부서이름 가져오기 -->
	<select id="selectUserDept">
		SELECT
			user_nm userNm,
			dept_cd deptCd,
			(SELECT code_nm FROM common_code WHERE group_code = 'D001'AND CODE = dept_cd) deptNm
		FROM user
		WHERE
			user_id = #{userId};
	</select>
	
	<!-- 관리자 : 모든 부서 게시판 코드 가져오기 -->
	<select id="selectAllCatCode"
			resultType="java.util.Map">
			SELECT 
				code,
				code_nm codeNm
			FROM common_code 
			WHERE group_code = 'D001'
	</select>
	
	<!-- 게시물상세 -->
	<select id="selectBoardOne">
			SELECT
				board_no boardNo,
				board_cat_cd boardCatCd,
				board_title boardTitle,
				board_contents boardContents,
				user_id userId,
				(SELECT user_nm FROM user WHERE user_id = userId) userNm,
				(SELECT
					(SELECT code_nm FROM common_code WHERE group_code = 'D001' AND CODE = dept_cd) deptNm
				 FROM user
				 WHERE user_id = userId) userDept,
				(SELECT
					(SELECT code_nm FROM common_code WHERE group_code = 'R001' AND CODE = rank_cd) rankNm
				 FROM user
				 WHERE user_id = userId) userRank,
				 c_date cDate,
				 board_view boardView
			FROM board
			WHERE
				board_no = #{boardNo}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateView">
			UPDATE 
				board 
			SET 
				board_view = board_view + 1 
			WHERE 
				board_no = #{boardNo}
	</update>
	
	<!-- 게시물 등록 -->
	<insert id="insertBoard" parameterType="com.goodee.yeyebooks.vo.Board">
		<selectKey order="AFTER" keyProperty="boardNo" resultType="java.lang.Integer">
			SELECT last_insert_id()
		</selectKey>
		INSERT INTO
			board (
				user_id, board_cat_cd, board_title, board_contents, board_view, c_date, u_date
		) VALUES (
				#{userId}, #{boardCatCd}, #{boardTitle}, #{boardContents}, 0, now(), now()
		)
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="modifyBoard">
		UPDATE 
			board
		SET 
			board_cat_cd = #{boardCatCd},  board_title = #{boardTitle}, board_contents = #{boardContents}, u_date = NOW()
		WHERE 
			board_no = #{boardNo}
	</update>
	
	<!-- 게시물 삭제 -->
	<update id="deleteBoard">
		DELETE FROM board
		WHERE
			board_no = #{boardNo}
	</update>
	
	<!-- 최근 공지사항 5개 -->
	<select id="selectRecentNotice" resultType="com.goodee.yeyebooks.vo.Board">
		SELECT board_no boardNo, board_title boardTitle, substring(c_date, 1, 10) cDate, board_view boardView
		FROM board
		WHERE board_cat_cd = (SELECT CODE FROM common_code WHERE group_code = 'B001' AND code_nm='공지')
		ORDER BY c_date DESC
		LIMIT 0, 5
	</select>
</mapper>