<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.BookingMapper">
	<select id="selectMyBooking" resultType="com.goodee.yeyebooks.vo.Booking">
		SELECT bkg_no bkgNo, user_id userId, 
		(SELECT code_nm FROM common_code WHERE group_code = 'B102' AND CODE = booking_target.trgt_cat_cd) trgtCatNm,
		trgt_nm trgtNm, bkg_start_ymd bkgStartYmd, bkg_end_ymd bkgEndYmd, substring(bkg_start_time, 1, 5) bkgStartTime, substring(bkg_end_time, 1, 5) bkgEndTime, 
		(SELECT code_nm FROM common_code WHERE group_code = 'B101' AND code = bkg_stat_cd) bkgStatus
		FROM booking, booking_target
		WHERE booking_target.trgt_no = booking.trgt_no
		AND user_id = #{userId}
		<if test="status != null">
		    AND bkg_stat_cd IN (SELECT code FROM common_code WHERE group_code = 'B101' AND code_nm in
		    <foreach collection="status" item="item" open="(" separator="," close=")">
		        #{item}
		    </foreach>
		    )
		</if>
		<if test="searchCat != null and searchCat != ''">
			AND trgt_cat_cd = (SELECT code FROM common_code WHERE group_code = 'B102' AND code_nm = #{searchCat})
		</if>
		<if test="searchNm != null and searchNm != ''">
			AND trgt_nm like CONCAT('%', #{searchNm}, '%')
		</if>
		ORDER BY booking.bkg_start_ymd desc, booking.bkg_start_time asc
		LIMIT #{startRow}, #{rowPerPage}
	</select>
	<select id="selectMyBookingCnt" resultType="int">
		SELECT COUNT(*) cnt
		FROM booking, booking_target
		WHERE booking_target.trgt_no = booking.trgt_no
		AND user_id = #{userId}
		<if test="status != null">
		    AND bkg_stat_cd IN (SELECT code FROM common_code WHERE group_code = 'B101' AND code_nm in
		    <foreach collection="status" item="item" open="(" separator="," close=")">
		        #{item}
		    </foreach>
		    )
		</if>
		<if test="searchCat != null and searchCat != ''">
			AND trgt_cat_cd = (SELECT code FROM common_code WHERE group_code = 'B102' AND code_nm = #{searchCat})
		</if>
		<if test="searchNm != null and searchNm != ''">
			AND trgt_nm like CONCAT('%', #{searchNm}, '%')
		</if>
	</select>
	<select id="selectBookingCategory">
		SELECT code_nm
		FROM common_code
		WHERE group_code = 'B102'
	</select>
	
	<select id="selectBookingOne">
		SELECT bkg_no bkgNo, user_id userId,
		trgt_nm trgtNm,
		trgt_info trgtInfo,
		(SELECT code_nm FROM common_code WHERE group_code = 'B102' AND code = trgt_cat_cd) trgtCatNm,
		save_filename saveFilename,
		path,
		bkg_start_ymd bkgStartYmd, bkg_end_ymd bkgEndYmd, substring(bkg_start_time, 1, 5) bkgStartTime, substring(bkg_end_time, 1, 5) bkgEndTime, 
		(SELECT code_nm FROM common_code WHERE group_code = 'B101' AND code = bkg_stat_cd) bkgStatus,
		bkg_purpose bkgPurpose
		FROM booking bk, booking_target bt
		WHERE bt.trgt_no = bk.trgt_no
		AND bkg_no = #{bkgNo}
	</select>
	<delete id="deleteBooking">
		UPDATE booking 
		SET bkg_stat_cd = (SELECT code FROM common_code WHERE group_code = 'B101' AND code_nm = '예약취소') 
		WHERE bkg_no = #{bkgNo}
	</delete>
	<select id="selectBookingListByDate">
		SELECT bkg_no bkgNo, user_id userId, bt.trgt_no trgtNo,trgt_nm  targetNm, concat(bkg_start_ymd, ' ', bkg_start_time) bkgStartTime, concat(bkg_end_ymd, ' ', bkg_end_time) bkgEndTime,
		trgt_info trgtInfo, save_filename saveFilename, path
		FROM booking bk, booking_target bt
		WHERE bk.trgt_no = bt.trgt_no 
		AND bkg_stat_cd in (select code from common_code where group_code = 'B101' and code_nm != '예약취소')
	</select>
	<select id="selectOverlapCnt" resultType="int">
		SELECT COUNT(*) 
		FROM booking
		WHERE trgt_no = #{targetNo}
		AND ((str_to_date(#{bookingStart}, '%Y-%m-%d %H:%i:%s') > str_to_Date(CONCAT(bkg_start_ymd, bkg_start_time), '%Y-%m-%d %H:%i:%s') AND str_to_date(#{bookingStart}, '%Y-%m-%d %H:%i:%s') &lt; str_to_Date(CONCAT(bkg_end_ymd, bkg_end_time), '%Y-%m-%d %H:%i:%s')) 
		OR (str_to_date(#{bookingEnd}, '%Y-%m-%d %H:%i:%s') > str_to_Date(CONCAT(bkg_start_ymd, bkg_start_time), '%Y-%m-%d %H:%i:%s') AND str_to_date(#{bookingEnd}, '%Y-%m-%d %H:%i:%s') &lt; str_to_Date(CONCAT(bkg_end_ymd, bkg_end_time), '%Y-%m-%d %H:%i:%s')))
	</select>
	<insert id="insertBooking" parameterType="com.goodee.yeyebooks.vo.Booking">
		<selectKey keyProperty="bkgNo" resultType="int" order="AFTER">
        	SELECT LAST_INSERT_ID() AS bkgNo
    	</selectKey>
		INSERT INTO booking(user_id, trgt_no, bkg_start_ymd, bkg_end_ymd, bkg_start_time, bkg_end_time, bkg_stat_cd, bkg_purpose, c_date, u_date)
		VALUES(#{userId}, #{trgtNo}, #{bkgStartYmd}, #{bkgEndYmd}, #{bkgStartTime}, #{bkgEndTime}, (SELECT CODE FROM common_code WHERE group_code = 'B101' AND code_nm = '예약완료'), #{bkgPurpose}, NOW(), NOW()) 
	</insert>
	<update id="updateBookingStartSchedule">
		UPDATE booking SET bkg_stat_cd = (SELECT CODE FROM common_code WHERE group_code = 'B101' AND code_nm = '이용중')
		WHERE bkg_start_ymd = DATE(NOW())
		AND bkg_start_time &lt;= NOW()
		AND bkg_stat_cd = (SELECT CODE FROM common_code WHERE group_code = 'B101' AND code_nm = '예약완료')
	</update>
	<update id="updateBookingEndSchedule">
		UPDATE booking SET bkg_stat_cd = (SELECT CODE FROM common_code WHERE group_code = 'B101' AND code_nm = '이용완료')
		WHERE bkg_end_ymd = DATE(NOW())
		AND bkg_end_time &lt;= NOW()
		AND bkg_stat_cd = (SELECT CODE FROM common_code WHERE group_code = 'B101' AND code_nm = '이용중')
	</update>
</mapper>