<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.DeptMapper">
	<select id="selectUserCntByDept" resultType="java.util.Map">
		SELECT c2.code deptCd, c2.code_nm deptNm, COALESCE(COUNT(u.user_id),0) cnt FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)         
		RIGHT OUTER JOIN 
		(SELECT code, code_nm
				FROM common_code 
				WHERE group_code = 'D001') c2 ON u.dept_cd = c2.code
		GROUP BY c2.code
		ORDER BY deptCd ASC
	</select>
	
	<insert id="insertDept" parameterType="java.util.Map">
		INSERT INTO common_code(group_code, group_nm, code, code_nm)
		SELECT group_code, group_nm, LPAD(MAX(code)+1,'2','0'), #{deptNm} 
		FROM common_code 
		WHERE group_code = 'D001'
	</insert>
	
	<delete id="deleteDept" parameterType="java.util.Map">
		DELETE FROM common_code
		WHERE code = #{deptCd} AND group_code = 'D001'
	</delete>
	
	<update id="updateDept" parameterType="java.util.Map">
		UPDATE common_code
		SET code_nm = #{deptNm}
		WHERE code = #{deptCd} AND group_code = 'D001'
	</update>
	
	<select id="selectUserListByDept" resultType="java.util.Map">
		SELECT 
			u.user_id userId, 
			u.user_nm userNm, 
			u.rank_cd rankCd, 
			u.dept_cd deptCd, 
			c1.code_nm rankNm, 
			c2.code_nm deptNm, 
			uf.save_filename userImg 
		FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)
		LEFT OUTER JOIN user_file uf ON (u.user_id = uf.user_id AND uf.file_cat_cd = '02')
	</select>
	
	<select id="selectUserCntByDeptAndAll" resultType="java.util.Map">
		SELECT u.dept_cd deptCd, c2.code_nm deptNm, COUNT(*) cnt FROM user u      
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)
		UNION ALL
		SELECT c2.code deptCd, c2.code_nm deptNm, COALESCE(COUNT(u.user_id),0) cnt FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)         
		RIGHT OUTER JOIN 
		(SELECT code, code_nm
				FROM common_code 
				WHERE group_code = 'D001') c2 ON u.dept_cd = c2.code
		GROUP BY c2.code
		ORDER BY deptCd ASC
	</select>
	
	<select id="selectDeptList" resultType="java.util.Map">
		SELECT code deptCd, code_nm deptNm
		FROM common_code
		WHERE group_code = 'D001'
	</select>
	
	<select id="selectUserList" resultType="java.util.Map">
		SELECT 
			u.user_id userId, 
			u.user_nm userNm, 
			u.rank_cd rankCd, 
			u.dept_cd deptCd,
			c1.code_nm rankNm, 
			c2.code_nm deptNm,
			u.gender,
			u.phone_no phoneNo,
			u.user_stat_cd userStatCd,
			c3.code_nm userStatNm,
			u.join_ymd joinYmd,
			u.leave_ymd leaveYmd,
			u.dayoff_cnt dayoffCnt
		FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)	
		INNER JOIN common_code c3 ON (c3.group_code = 'U001' AND u.user_stat_cd = c3.code)
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectUserCnt" resultType="int">
		SELECT 
			COUNT(*) cnt
		FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)	
		INNER JOIN common_code c3 ON (c3.group_code = 'U001' AND u.user_stat_cd = c3.code)
	</select>
	
	<select id="selectRankList" resultType="java.util.Map">
		SELECT code rankCd, code_nm rankNm
		FROM common_code
		WHERE group_code = 'R001'
	</select>
	
	<insert id="insertUser" parameterType="com.goodee.yeyebooks.vo.User">
		INSERT INTO user(user_id, user_pw, user_nm, rank_cd, dept_cd, user_stat_cd, gender, mail, 
						join_ymd, dayoff_cnt, c_date, u_date)
		VALUES (#{userId}, PASSWORD('1234'), #{userNm}, #{rankCd}, #{deptCd}, '02', #{gender}, #{mail}, 
				#{joinYmd}, 0, NOW(), NOW())
	</insert>
	
	<select id="selectjoinYmdCnt" parameterType="com.goodee.yeyebooks.vo.User" resultType="int">
		SELECT COUNT(*) 
		FROM user
		WHERE join_ymd = #{joinYmd}
	</select>
	
	<update id="updateUserPwReset" parameterType="com.goodee.yeyebooks.vo.User">
		UPDATE user
		SET user_pw = PASSWORD('1234'),
			u_date = NOW()
		WHERE user_id = #{userId}
	</update>
	
	<select id="selectUserStatList" resultType="java.util.Map">
		SELECT code userStatCd, code_nm userStatNm
		FROM common_code
		WHERE group_code = 'U001'
	</select>
	
	<update id="updateUserDept" parameterType="com.goodee.yeyebooks.vo.User">
		UPDATE user
		SET dept_cd = #{deptCd},
			u_date = NOW()
		WHERE user_id = #{userId}
	</update>
	
	<update id="updateUserRank" parameterType="com.goodee.yeyebooks.vo.User">
		UPDATE user
		SET rank_cd = #{rankCd},
			u_date = NOW()
		WHERE user_id = #{userId}
	</update>
	
	<update id="updateUserStat" parameterType="com.goodee.yeyebooks.vo.User">
		UPDATE user
		SET user_stat_cd = #{userStatCd},
			u_date = NOW()
		WHERE user_id = #{userId}
	</update>
	
	<select id="selectUserTenureList" resultType="java.util.Map">
		SELECT
			u.user_id userId,
			u.user_stat_cd userStatCd,
			u.dayoff_cnt dayoffCnt,
			TIMESTAMPDIFF(YEAR, join_ymd, NOW()) yearCnt,
			TIMESTAMPDIFF(MONTH, join_ymd, NOW()) monthCnt
		FROM user u
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)
		WHERE u.user_stat_cd = '02'
	</select>
	
	<update id="updateUserDayoffCnt" parameterType="com.goodee.yeyebooks.vo.User">
		UPDATE user SET dayoff_cnt = #{dayoffCnt}
		WHERE user_id = #{userId}
	</update>
</mapper>