<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.DeptMapper">
	<select id="selectDeptList" resultType="java.util.Map">
		SELECT c2.code deptCd, c2.code_nm deptNm, COALESCE(COUNT(u.user_id),0) cnt FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)         
		RIGHT OUTER JOIN 
		(SELECT code, code_nm
				FROM common_code 
				WHERE group_code = 'D001') c2 ON u.dept_cd = c2.code
		GROUP BY u.dept_cd
		ORDER BY deptCd ASC
	</select>
	
	<insert id="insertDept" parameterType="java.util.Map">
		INSERT INTO common_code(group_code, group_nm, code, code_nm)
		SELECT group_code, group_nm, LPAD(MAX(CODE)+1,'2','0'), #{deptNm} 
		FROM common_code 
		WHERE group_code = 'D001'
	</insert>
	
	<delete id="deleteDept" parameterType="java.util.Map">
		DELETE FROM common_code
		WHERE code = #{deptCd}
	</delete>
	
	<update id="updateDept" parameterType="java.util.Map">
		UPDATE common_code
		SET code_nm = #{deptNm}
		WHERE code = #{deptCd}
	</update>
	
	<select id="selectUserListByDept" resultType="java.util.Map">
		SELECT u.user_nm userNm, u.rank_cd rankCd, u.dept_cd deptCd, c1.code_nm rankNm, c2.code_nm deptNm 
		FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)
	</select>
	
	<select id="selectUserCntByDept" resultType="java.util.Map">
		SELECT u.dept_cd deptCd, c2.code_nm deptNm, COUNT(*) cnt FROM user u      
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)
		LEFT OUTER JOIN common_code c2 ON (c2.group_code = 'D001' AND u.dept_cd = c2.code)
		UNION ALL
		SELECT c2.code deptCd, c2.code_nm deptNm, COALESCE(COUNT(u.user_id),0) cnt FROM user u 
		INNER JOIN common_code c1 ON (c1.group_code = 'R001' AND u.rank_cd = c1.code)         
		RIGHT OUTER JOIN 
		(SELECT code, code_nm
				FROM common_code 
				WHERE group_code = 'D001') c2 ON u.dept_cd = c2.code
		GROUP BY u.dept_cd
		ORDER BY deptCd ASC
	</select>
</mapper>