<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.ScheduleMapper">
	<!-- 오늘의 개인 전체 부서 일정 조회 -->
	<select id="selectTodaySchedule">
		SELECT skd_title skdTitle, skd_start_time skdStartTime, '개인' skdCategory
		FROM schedule
		WHERE skd_cat_cd = (SELECT CODE FROM common_code WHERE group_code = 'S001' AND code_nm = '개인')
		AND user_id = #{userId}
		AND #{todayYmd} BETWEEN skd_start_ymd AND skd_end_ymd
		UNION 
		SELECT skd_title skdTitle, skd_start_time skdStartTime, '전체' skdCategory
		FROM schedule
		WHERE skd_cat_cd = (SELECT CODE FROM common_code WHERE group_code = 'S001' AND code_nm = '전체')
		AND #{todayYmd} BETWEEN skd_start_ymd AND skd_end_ymd
		UNION
		SELECT skd_title skdTitle, skd_start_time skdStartTime, '부서' skdCategory
		FROM schedule
		WHERE skd_cat_cd = (SELECT dept_cd FROM user WHERE user_id = #{userId})
		AND #{todayYmd} BETWEEN skd_start_ymd AND skd_end_ymd
		ORDER BY skdStartTime
	</select>
	
	<!-- 아이디 별 선택한 달의 전체 일정조회(선택값에 따라 회사/부서/개인 일정 조회) -->
	<select id="selectMonthSchedule">
		SELECT 
			skd_no skdNo,
			user_id userId,
			skd_cat_cd skdCatCd,
			skd_start_ymd skdStartYmd,
			skd_title skdTitle,
			skd_end_ymd skdEndYmd,
			skd_start_time skdStartTime,
			skd_end_time skdEndTime,
			skd_contents skdContents,
			c_date cDate,
			u_date uDate
		FROM schedule
		WHERE 
			skd_cat_cd = '00' or
			(user_id = #{userId} AND skd_cat_cd = '99') or
			skd_cat_cd = (SELECT code FROM common_code WHERE group_code = 'D001' AND code = (SELECT dept_cd FROM user WHERE user_id = #{userId}))
	</select>
	
	<!-- 아이디별 각각 선택 일정 조회 -->
	<!-- 회사일정 -->
	<select id="selectAdminSchedule">
		SELECT 
			skd_no skdNo,
			user_id userId,
			skd_cat_cd skdCatCd,
			skd_start_ymd skdStartYmd,
			skd_title skdTitle,
			skd_end_ymd skdEndYmd,
			skd_start_time skdStartTime,
			skd_end_time skdEndTime,
			skd_contents skdContents,
			c_date cDate,
			u_date uDate
		FROM schedule
		WHERE 
			skd_cat_cd = '00'
	</select>
	<!-- 개인일정 -->
	<select id="selectPersonalSchedule">
		SELECT 
			skd_no skdNo,
			user_id userId,
			skd_cat_cd skdCatCd,
			skd_start_ymd skdStartYmd,
			skd_title skdTitle,
			skd_end_ymd skdEndYmd,
			skd_start_time skdStartTime,
			skd_end_time skdEndTime,
			skd_contents skdContents,
			c_date cDate,
			u_date uDate
		FROM schedule
		WHERE 
			skd_cat_cd = '99'
		AND user_id = #{userId}
	</select>
	<!-- 부서일정 -->
	<select id="selectDeptSchedule">
		SELECT 
			skd_no skdNo,
			user_id userId,
			skd_cat_cd skdCatCd,
			skd_start_ymd skdStartYmd,
			skd_title skdTitle,
			skd_end_ymd skdEndYmd,
			skd_start_time skdStartTime,
			skd_end_time skdEndTime,
			skd_contents skdContents,
			c_date cDate,
			u_date uDate
		FROM schedule
		WHERE 
			skd_cat_cd = (SELECT code FROM common_code WHERE group_code = 'D001' AND code = (SELECT dept_cd FROM user WHERE user_id = #{userId}))
	</select>
	
	<!-- 선택날짜 일정상세 -->
	<select id="selectDateSchedule">
		SELECT 
			skd_no skdNo,
			user_id userId,
			skd_cat_cd skdCatCd,
			skd_title skdTitle,
			skd_start_ymd skdStartYmd,
			skd_end_ymd skdEndYmd,
			skd_start_time skdStartTime,
			skd_end_time skdEndTime,
			skd_contents skdContents,
			c_date cDate,
			u_date uDate
		FROM schedule
		WHERE
			skd_no = #{skdNo}
	</select>
	
	<!-- 일정등록 -->
	<insert id="insertSchedule">
	INSERT INTO schedule 
		(user_id, skd_cat_cd, skd_title, skd_start_ymd, skd_end_ymd, skd_start_time, skd_end_time, skd_contents, c_date, u_date)
	VALUES 
		(#{userId}, #{skdCatCd}, #{skdTitle}, #{skdStartYmd}, #{skdEndYmd}, #{skdStartTime}, #{skdEndTime}, #{skdContents}, NOW(), NOW())
	</insert>
	
	<!-- 일정수정 -->
	<update id="updateSchedule">
		UPDATE schedule
		SET
			skd_cat_cd = #{skdCatCd}, skd_title = #{skdTitle}, skd_start_ymd = #{skdStartYmd}, skd_end_ymd = #{skdEndYmd}, skd_start_time = #{skdStartTime}, skd_end_time = #{skdEndTime}, skd_contents = #{skdContents}, u_date = NOW()
		WHERE 
			skd_no = #{skdNo} 
	</update>
	
	<!-- 일정삭제 -->
	<delete id="deleteSchedule">
		DELETE FROM schedule
		WHERE skd_no = #{skdNo}
	</delete>
</mapper>