<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.yeyebooks.mapper.UserMapper">
	<select id="selectLoginInfo">
		select count(*)
		from user
		where user_id = #{userId}
		and user_pw = password(#{userPw})
	</select>
	<select id="selectUserInfo">
		SELECT
			user_id AS userId,
		    user_nm AS userNm,
		    (SELECT code_nm FROM common_code WHERE group_code = 'R001' AND CODE = rank_cd) AS rank,
		    (SELECT code_nm FROM common_code WHERE group_code = 'D001' AND CODE = dept_cd) AS dept,
		    (SELECT code_nm FROM common_code WHERE group_code = 'U001' AND CODE = user_stat_cd) AS userStatus,
		    CASE gender WHEN 1 THEN '남자' ELSE '여자' END AS gender,
		    phone_no AS phoneNo,
		    mail,
		    join_ymd AS joinYmd,
		    leave_ymd AS leaveYmd,
		    dayoff_cnt AS dayoffCnt
		FROM user
		WHERE user_id = #{userId};
	</select>
	<update id="updateUserInfoByUser">
		UPDATE user SET user_nm = #{userNm}, phone_no = #{phoneNo}
		WHERE user_id = #{userId}
	</update>
	<update id="updateUserPw">
		UPDATE user SET user_pw = PASSWORD(#{userPw})
		WHERE user_id = #{userId}
	</update>
	<select id="selectRecentJoinCnt" resultType="com.goodee.yeyebooks.vo.Report">
		SELECT MONTH(join_ymd) month, COUNT(*) cnt 
		FROM user
		WHERE join_ymd >= DATE_SUB(NOW(), INTERVAL 6 MONTH)
		AND MONTH(join_ymd) != MONTH(NOW())
		GROUP BY MONTH
	</select>
	<select id="selectRecentLeaveCnt" resultType="com.goodee.yeyebooks.vo.Report">
		SELECT MONTH(leave_ymd) month, COUNT(*) cnt
		FROM user
		WHERE leave_ymd >= DATE_SUB(NOW(), INTERVAL 6 MONTH)
		AND MONTH(leave_ymd) != MONTH(NOW())
		GROUP BY MONTH
	</select>
	<select id="selectFMCnt" resultType="com.goodee.yeyebooks.vo.Report">
		SELECT case gender when 1 then '남자' ELSE '여자' end as genderNm, COUNT(*) cnt
		FROM user
		WHERE gender IS NOT NULL
		AND leave_ymd IS null
		GROUP BY genderNm
	</select>
	<select id="selectTotalUserCntBeforeMonth" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM user
		WHERE (YEAR(join_ymd) &lt; #{year} OR (YEAR(join_ymd) = #{year} AND MONTH(join_ymd) &lt; #{month}))
		AND (leave_ymd IS NULL OR leave_ymd >= CONCAT(#{year}, '-', #{month}, '-01'))
	</select>
</mapper>